.icon-google::before{
    content: '\0043';
    margin-right: 5px;
}
.icon-facebook::before{
    content: '\0041';
    margin-right: 5px;
}
.icon-github::before{
    content: '\0042';
    margin-right: 5px;
}
.icon-twitter::before{
    content: '\0044';
    margin-right: 5px;
}

.logo img{
    width: 8rem;
}

#google, #facebook,
#github, #twitter{
    font-size: 1rem !important;
    width: 200px;
    text-align: left;
}
#google{
    background: #dd4b39;
}
#facebook{
    background: #3b5998;
}
#github{
    background: #000;
}
#twitter{
    background: #55acee;
}