#google, #facebook,
#github, #twitter{
    font-size: 1rem !important;
    width: 200px;
    text-align: left;
}
#google{
    background: #dd4b39;
}
#facebook{
    background: #3b5998;
}
#github{
    background: #000;
}
#twitter{
    background: #55acee;
}